.App {
  font-family: sans-serif;
  text-align: center;
  width: 20rem;
  height: 20rem;
  background: rgb(21, 255, 0);
  margin: 10rem;
}
h1 {
  padding: 2rem;
}
/* h1 {
  align-content: center;
} */
